{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/assets/css/indexEvent.css') }}">
{% endblock %}

{% block body %}

    <h1 id="test" class="text-center">All events</h1>

        {% for event in events %}
            <div class="event-block">
                <div class="row">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="col-1 float-left">
                            <a class="btn-like" href="{{ path('event_like', {'id': event.id}) }}"><img src="{{ asset('/assets/img/icons/like.svg') }}" alt="LIKE"></a>
                        </div>
                    {% endif %}
                    <div class="col-11">
                        <h4 class="text-center">{{ event.title }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="event-image-container">
                            <img src="/uploads/{{ event.image ?? 'event_placeholder.png' }}" alt="event">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                       № {{ event.id }} |
                    </div>
                    <div class="col-4">
                        Created <b>On</b> <i>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</i>
                    </div>
                    <div class="col-3">
                       <b>By</b> &bullet; {{ event.user.login | upper }} &bullet;
                    </div>
                    <div class="col-4 ">
                        <div class="float-right">
                            <a class="btn btn-sm btn-info mr-2 mb-2" href="{{ path('event_show', {'id': event.id}) }}">show</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-sm btn-warning mr-2 mb-2" href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                    <div class="row">
                        <div class="col-md-12">no records found</div>
                    </div>
            {% endfor %}

    <div class="row">
        <div class="col-2">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary my-4" href="{{ path('event_new') }}">Create new</a>
            {% endif %}
        </div>
        <div class="col-10">
            <div class="navigation my-4">
                <div class="float-right">{{ knp_pagination_render(events) }}</div>
            </div>
        </div>
    </div>
{% endblock %}